__pycache__/
src/__pycache__/
*.DS_Store
comparisons/Iterative IOC/__pycache__/
externals/Pontryagin-Differentiable-Programming/JinEnv/__pycache__/*
externals/Pontryagin-Differentiable-Programming/PDP/__pycache__/*
externals/Pontryagin-Differentiable-Programming/ControlTool/__pycache__/*